client Id = ****38**388**48**58**58**3
user_name = parse_jatin_clone_registered_google_api_credential
Pass= ##########
admin_user = yesclone_admin
admin_pass = ########## 
<!-- ip <address><div class="form-group">
    <label class="sr-only" for="inputName">Hidden input label</label>
    <input type="text" class="form-control" name="inputName" id="inputName" placeholder="">
</div></address> -->